@import "./NavBar.css";
@import "./Crousal.css";
@import "./Footer.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100vh;
}
main{
  height: 100vh;
  background-color: red;
}
header {
  background-color: black;
  color: white;
}
footer {
  position: relative;
  bottom: 60px;
  left: 0;
  transition: 1s ease-in-out;
}
footer._active {
  bottom: 162px;
}
